.main {
    flex: 1;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border()
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

