border()
    border: 0px dashed #000;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: bg-color;
    font-weight: 300;
}
