// Header container
.header {
    width: 100%;
    background-color: highlight-color;
}

// Menu
.menu {
    display: flex;
    align-items: center;
    border()
}

@media screen and (max-width: 400px) {
    .menu {
        width: 100%;
        justify-content: center;
        order: 2;
        margin: 10px 0;
    }
}

.menu-itens {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: inline-block;
}

.menu-item {
    list-style: none;
    display: inline-block;
}

.menu-link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

// profile
.profile-header {
   border()
   margin-left: auto;
}

@media screen and (max-width: 400px) {
    .profile {
        width: 100%;
        text-align: center;
        order: 1;
        margin: 10px 0;
    }
}

.profile-header__profile-img {
    vertical-align: middle;
    border-radius: 50%;
    margin: 5px;
}

.profile-text {
    margin: 5px;
    display: inline-block;
    color: #fff;
}