/* Colors */
/* Box model */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}
/* Dev mode */
.container {
  border: 1px dashed #000;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* Partials */
.header {
  width: 100%;
  background-color: #f06;
}
.menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .menu {
    width: 100%;
    justify-content: center;
    order: 2;
    margin: 10px 0;
  }
}
.menu-itens {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: inline-block;
}
.menu-item {
  list-style: none;
  display: inline-block;
}
.menu-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.profile {
  border: 1px dashed #000;
  margin-left: auto;
}
@media screen and (max-width: 400px) {
  .profile {
    width: 100%;
    text-align: center;
    order: 1;
    margin: 10px 0;
  }
}
.profile-img {
  vertical-align: middle;
  border-radius: 50%;
  margin: 5px;
}
.profile-text {
  margin: 5px;
  display: inline-block;
  color: #fff;
}
.footer {
  height: 40px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart-icon {
  fill: #f06;
}
