header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="#") Perfil
                li.menu-item 
                    a.menu-link(href="#") Projects
        div.profile-header
            img.profile-header__profile-img(src="assets/img/afonso-perfil-mini.jpg" alt="Afonso Pacifer Perfil")
            span.profile-text Afonso Pacifer