header.header
    div.container
        nav.menu
            ul.menu-itens
                li.menu-item 
                    a.menu-link(href="index.html") Perfil
                li.menu-item 
                    a.menu-link(href="projects.html") Projects
        div.profile-header
            img.profile-header-img(src="assets/img/afonso-perfil-mini.jpg" alt="Afonso Pacifer Perfil")
            span.profile-text Afonso Pacifer