extends ./layouts/default.pug

block content
    main.main.container-centered
        img(srcset="assets/img/afonso-perfil-1x.jpg 1x, assets/img/afonso-perfil-2x.jpg 2x, " src="assets/img/afonso-perfil-1x.jpg")