extends ./layouts/default.pug

block content
    div.container-centered
        div.profile
            img(srcset="assets/img/afonso-perfil-1x.jpg 1x, assets/img/afonso-perfil-2x.png 2x, " src="assets/img/afonso-perfil-1x.jpg" class="profile-img" alt="Afonso Perfil")
            h1.heading-lv1 Afonso
            p.paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur sem quis rutrum fermentum. Maecenas eget dignissim justo. Etiam suscipit, felis a faucibus condimentum, ante nunc efficitur odio, a lacinia eros metus nec leo. Duis tempus purus accumsan tincidunt porta. Nullam at ullamcorper dui