extends ./layouts/default.pug

block content
    main.main.container
        div.projects
            section.projects-list
                h1.heading-lv1 Projects

                for project in projects
                    article.project
                        h2.project-name=project.name
                        div.project-star
                            include icons/star-icon.html
                            span.project-star-count=project.stars
                        p.project-description=project.description