extends ./layouts/default.pug

block content
    main.main.container
        div.projects
            section.projects-list
                h1.heading-lv1 Projects

                article.project
                    h2.project-name Project name
                    include icons/star-icon.html
                    span.project-star-count 000
                    p.project-description Descricao do projeto

