/* Colors */
highlight-color = #ff0066
secondary-color = #212121
bg-color = #333

/* Box model */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dev mode */
border()
    border: 1px dashed #000;

.container {
    border()
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Partials */
@import 'partials/header.styl'
@import 'partials/footer.styl'